@page "/pos"
@page "/"
@inject IJSRuntime jsRuntime

@using BlazorAppSales.Data;
@using Microsoft.AspNetCore.Components.Rendering;
@using Microsoft.EntityFrameworkCore;

@inject IJSRuntime JsRuntime
@inject AuthenticationStateProvider authenticationStateProvider



<h1>Point of Sale</h1>
<BlazorAppSales.Pages.Components.PaymentButtonsComponent pos_OrderPayments=pos_OrderPayments
                                                         order_total="orderLines.Sum(x => x.Total)"
                                                         pos_MethodOfPayments="pos_MethodOfPayments">

</BlazorAppSales.Pages.Components.PaymentButtonsComponent>

@*
@if (!is_paying)
{
    @foreach (var p in pos_MethodOfPayments)
    {
        <button class="btn btn-outline-dark" @onclick="(() => pay1(p))">@p.Name</button>
    }
}
else
{
    if (current_Pos_MethodOfPayment != null)
    {
        <input class="form-control" @bind-value="amount_to_pay" />
        <button class="btn btn-outline-dark" @onclick="pay2">@current_Pos_MethodOfPayment.Name</button>
    }
}
@if (unPaid_remaining_Total_With_VAT != 0)
{ 
    <span class="badge bg-danger ">@unPaid_remaining_Total_With_VAT</span>
}*@





@if (!ShiftIsOpen)
{
    <button class="btn btn-primary" @onclick="OpenShift">Open Shift</button>
}
else
{
    <button class="btn btn-primary" @onclick="CloseShift">Close Shift</button>
}

@if (ShiftIsOpen)
{
    <div class="row" style=" border: 1px solid black; overflow: auto;">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <!-- Summary and other information here -->
                    @*  <OrderReceipt order="CurrentOrder" onClose="@(() => ShowReceipt = false)" />*@
                    @if (CurrentOrder != null)
                    {
                        <OrderPage order="CurrentOrder" onClose="@(() => ShowReceipt = false)"
                           @ref="orderPage1" />
                    }
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card">
                <div class="card-body" style=" overflow: auto;">
                    <div class="input-group mb-3">
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <h4>Products</h4>

                            <input type="text" class="form-control" placeholder="Search by product name or number" @bind="@searchQuery_item"
                               @oninput="(e)=> searchQuery_item = e.Value.ToString()"
                               @onkeydown="Search" />

                            <div class="radio-group">

                                @foreach (var tag_name_str in productTags)
                                {
                                    <label>
                                        <input type="radio" name="option" value="@tag_name_str"
                                       @onchange="(()=>OnChange_selectedTagFilter(tag_name_str))">
                                        <span class="button p-1 ">    &nbsp; &nbsp; &nbsp;                 @tag_name_str</span>
                                    </label>
                                }
                            </div>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Products != null)
                                        @foreach (var product in Products)
                                        {
                                            <tr>
                                                <td>@product.Name</td>
                                                <td>@product.Price.ToString("C")</td>
                                                <td>
                                                    <button class="btn btn-primary" @onclick="() => AddToCart(product)"> + </button>
                                                </td>
                                            </tr>
                                        }
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-4">
                            <h4>Order</h4>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (orderLines != null)
                                        @foreach (var item in orderLines)
                                        {
                                            <tr>
                                                <td>@item.Product.Name</td>
                                                <td>@item.Product.Price.ToString("C")</td>
                                                <td>@item.Quantity</td>
                                                <td>@((item.Quantity * item.Product.Price).ToString("C"))</td>
                                            </tr>
                                        }
                                    <tr>
                                        <td colspan="3">Total</td>
                                        <td>@Total.ToString("C")</td>
                                    </tr>
                                </tbody>
                            </table>


                            @*   temppppp     *@
                            <div class="form-group">
                                <button class="btn btn-primary" @onclick="(()=>PlaceOrder(orderPage1, GetOrders()))" disabled="@(!orderLines.Any() || ShiftClosed)">Place Order</button>
                            </div>




                            @if (ShiftClosed)
                            {
                                <div class="alert alert-warning" role="alert">
                                    Shift is closed. Open a new shift to place orders.
                                </div>
                            }
                        </div>
                    </div>

                    <div id="summary-report" style="display:none">
                        <h2>Summary Report</h2>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Period</th>
                                    <th>Total Sales</th>
                                    <th>Total Orders</th>
                                    <th>Average Sale</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Shift</td>
                                    <td>@ShiftTotalSales.ToString("C")</td>
                                    <td>@ShiftTotalOrders</td>
                                    <td>@ShiftAverageSale.ToString("C")</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                    @*         <label for="customerSelect">Select customer:</label>
                <select id="customerSelect" @bind="selectedCustomer">
                <option value="">-- Select --</option>
                @foreach (var customer in customers)
                {
                <option value="@customer">@customer.Name</option>
                }
                </select>*@
                    <CustomerSelector Customers_full="@customers" OnNewCustomerCreated="@CreateCustomer" OnCustomerSelected="CustomerSelected"></CustomerSelector>
                </div>
            </div>
        </div>
    </div>
}

@*@if (CurrentOrder!=null)
{
    <OrderPage orderIdx='@CurrentOrder.Id.ToString()' @ref="orderPage1"></OrderPage>
}*@




@code {

    string selectedTagFilter = "";
    private void OnChange_selectedTagFilter(string selected)
    {
        selectedTagFilter = selected;
        Search();
    }
}