@page "/order-summary/{id}"
@using BlazorAppSales.Data;


@if (order != null)
{
   @*#if used row to keep it in one line*@
    <div class="row noBackground"> 
        <div class="  col-md-4">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Order ID:</th>
                        <td><a target="_blank" href="@($"/order/{order.Id}")">@order.Id</a></td>
                    </tr>
                    <tr>
                        <th>Date:</th>
                        <td>@order.OrderDate.ToShortDateString()</td>
                    </tr>
                    <tr>
                        <th>Customer:</th>
                        <td>
                            @if (order.Customer!=null)
                            @order.Customer.Name</td>
                    </tr>
                    <tr>
                        <th>Employee:</th>
                        @*<td>@order.Employee.Name</td>*@
                    </tr>
                    <tr>
                        <th>Payment:</th>
                            @foreach (var pay in @order.Pos_OrderPayments)
                        {
                            <label class="badge bg-dark">@pay.Amount - @pay.pos_MethodOfPayment.Name</label>
                        }
                        @*<td>@order.PaymentMethod</td>*@
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="  col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                        @foreach (var line in order.OrderLines)
                    {
                        <tr>
                            <td>@line.Product.Name</td>
                            <td>@line.Quantity</td>
                            <td>@line.Price.ToString("C")</td>
                            <td>@((line.Quantity * line.Price).ToString("C"))</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <p>Loading...</p>
}

@code {
    [Parameter]
    public int Id { get; set; }
    [Parameter]
    public Order order { get; set; }
}
