@page "/shifts"
@using BlazorAppSales.Data;
@inject ShiftService ShiftService

<h3>Shifts</h3>

@if (shifts != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Shift ID</th>
                <th>Employee Number</th>
                <th>Branch</th>
                <th>Company Name</th>
                <th>Total Orders</th>
                <th>Total Sales</th>
                <th>Opened At</th>
                <th>Closed At</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var shift in shifts)
            {
                <tr>
                    <td>@shift.Id</td>
                    <td>@shift.EmployeeNumber</td>
                    <td>@shift.Branch</td>
                    <td>@shift.CompanyName</td>
                    <td>@shift.Orders.Count</td>
                    <td>@shift.Orders.Sum(o => o.Total)</td>
                    <td>@shift.OpenedAt</td>
                    <td>@shift.ClosedAt</td>

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Loading shifts...</p>
}

@code {
    List<Shift> shifts;

    protected override async Task OnInitializedAsync()
    {
        shifts = await ShiftService.GetShiftsWithOrdersSummary();
    }
}
