@page "/shiftsDetails"
@using BlazorAppSales.Data;
@inject ShiftService ShiftService

<h1>Shifts</h1>

@if (shifts != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Employee Number</th>
                <th>Branch</th>
                <th>Company</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Order Count</th>
                <th>Total Sales</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var shift in shifts.Where(s => s.Orders.Count()>0))
            {
                <tr>
                    <td>
                        <button class="btn btn-primary" @onclick="() =>  shift.ShowLines=!shift.ShowLines ">
                            @if (shift.ShowLines)
                            {
                                <span>-</span>
                            }
                            else
                            {
                                <span>+</span>
                            }
                            </button>
                        <a href="@($"/shifts/{shift.Id}")">@shift.Id</a>
                    </td>
                    <td>@shift.EmployeeNumber</td>
                    <td>@shift.Branch</td>
                    <td>@shift.CompanyName</td>
                    <td>@shift.OpenedAt</td>
                    <td>@shift.ClosedAt</td>
                    <td>@shift.Orders.Count()</td>
                    <td>@shift.Orders.Sum(o => o.Total)</td>

                </tr>

                @if (shift.ShowLines)
                {
                    @if (shift.Orders.Count > 0)
                    {
                        <tr>
                            <th></th>
                            <th>Order Id</th>
                            <th>Customer</th>
                            <th>Date</th>
                            <th>Total</th>
                            <th>Lines</th>
                        </tr>
                    }

                    @foreach (var order in shift.Orders)
                    {

                        <tr>
                            <td><a href="@($"/order/{order.Id}")">@order.Id</a></td>
                            <td>@order.Id</td>
                            <td>@order.customer_name</td>
                            <td>@order.OrderDate.ToString("g")</td>
                            <td>@order.Total.ToString("C")</td>
                            <td>
                                @if (@order.Items != null)
                                    @order.Items.Count()
                                </td>
                            </tr>
                    }
                }
            }
        </tbody>
    </table>
}
else
{
    <p>Loading...</p>
}

@code {
    private List<Shift> shifts;

    protected override async Task OnInitializedAsync()
    {
        shifts = await ShiftService.GetShiftsWithOrdersSummary();
    }
}
